@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #006400;
}

#column-2 {
  background: #FFD700;
}

#column-3 {
  background: #800000;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: black ;
  }

  #column-1 {
    background-color: ;
  }

  #column-2 {
    background-color: ;
  }

  #column-3 {
    background-color: #maroon;
    width: 100%;
  }

  footer {
    background-color: #666;
  }

  .col-3 {
    width: 50%;
  }

}



/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: grey;
  }

  #column-1 {
    background-color: ;
  }

  #column-2 {
    background-color: ;
  }

  #column-3 {
    background-color: maroon;
    width: 33%;
  }

  footer {
    background-color: ;
  }

  .col-3 {
    width: 33.3%;
    height: 320px;
    float: left;
  }

}
